<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card style="width: 550px">
    <button mat-button class="w-100" color="primary" (click)="fillForm()">
      Fill data from BE
    </button>
    <form>
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          [formControl]="form.get(FORM_CONSTANTS.NAME)"
          placeholder="Enter name"
          required
        />
        <mat-error *ngIf="form.get(FORM_CONSTANTS.NAME).hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="form.get(FORM_CONSTANTS.EMAIL)"
          placeholder="Ex. deivis@example.com"
          required
        />
        <mat-error *ngIf="form.get(FORM_CONSTANTS.EMAIL).hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get(FORM_CONSTANTS.EMAIL).hasError('userExist')">
          Email is in use
        </mat-error>
        <mat-error *ngIf="form.get(FORM_CONSTANTS.EMAIL).hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="form.get(FORM_CONSTANTS.PASSWORD)"
          placeholder="Enter password"
          required
        />
        <mat-error
          *ngIf="form.get(FORM_CONSTANTS.PASSWORD).hasError('required')"
        >
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Confirm password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="form.get(FORM_CONSTANTS.PASSWORD_VALIDATION)"
          placeholder="Confirm password"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="form.hasError('notSame')">
          Passwords do not match
        </mat-error>
        <mat-error
          *ngIf="
            form.get(FORM_CONSTANTS.PASSWORD_VALIDATION).hasError('required')
          "
        >
          Password validation is required
        </mat-error>
      </mat-form-field>

      <button
        mat-button
        class="w-100"
        color="primary"
        (click)="addFriendToArray()"
        style="margin-bottom: 15px"
      >
        Add friend
      </button>

      <div style="max-height: 250px; overflow: auto">
        <mat-error
          *ngIf="form.get(FORM_CONSTANTS.FRIENDS).hasError('noFriendsAdded')"
        >
          At least one friend must be added
        </mat-error>
        <ng-container
          *ngFor="let friendForm of getFriendsFormArray().controls; let index"
        >
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-form-field class="w-100">
              <mat-label>Name</mat-label>
              <input
                matInput
                [formControl]="friendForm.get(FORM_CONSTANTS.NAME)"
                placeholder="Enter name"
              />
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [formControl]="friendForm.get(FORM_CONSTANTS.EMAIL)"
                placeholder="Ex. deivis@example.com"
              />
              <mat-error
                *ngIf="friendForm.get(FORM_CONSTANTS.EMAIL).hasError('email')"
              >
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <button
              mat-icon-button
              color="warn"
              (click)="removeFromArray(index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </form>
    <button
      mat-raised-button
      class="w-100"
      color="warn"
      (click)="submitForm()"
      style="margin-top: 15px"
      [disabled]="form.invalid"
    >
      SUBMIT
    </button>

    <pre>
      {{ formData | json }}
    </pre>
  </mat-card>
</div>
